<p>open form</p>
<!--
<div class="header">

  <h1>Add Course Details</h1>
</div>
<form [formGroup]="addCourseForm" (ngSubmit)="onFormSubmit(addCourseForm.value)"> 
    <div class="example-container">
      <mat-form-field>
        <input formControlName="name" matInput placeholder="name">
      </mat-form-field>

      <mat-form-field>
        <textarea formControlName="description" matInput placeholder="description"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="duration" placeholder="duration"></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput formControlName="vedioUrl" placeholder="fees"></textarea>
      </mat-form-field>
 
    </div>
    <button type="submit">AddCourse</button>
</form> -->